.liked-post {
  margin-right: 15px;
  padding: 5px;
  background-color: #8c8c8c;
  border-radius: 5px;
}
.comment-post {
  margin-right: 15px;
  padding: 5px;
  background-color: #8c8c8c;
  border-radius: 5px;
}
.share-post {
  margin-right: 15px;
  padding: 5px;
  background-color: #8c8c8c;
  border-radius: 5px;
}
