.App {
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;

  padding: 1rem 1rem;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #006d75;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: #85a5ff;
  transition: all 100ms ease-out;
  padding: 10px;
}

.button:hover {
  color: #fa8c16;
  border: 2px solid #fa8c16;
  cursor: pointer;
  background: transparent;
}


::-webkit-scrollbar {
  display: none;
}