* {
  padding: 0%;
  margin: 0%;
}

body {
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
}

.custom-row {
  display: flex;
  height: 400px;
  justify-content: center;
  background-color: #002329;
  align-items: center;
}

.custom-container {
  background-image: url("/images/new_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  color: #ffc107;
  font-weight: bold;
}
.heading-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.app-title {
  background-color: #595959;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.app-name {
  font-size: 16px;
  font-weight: bold;
  color: rgb(194, 194, 229);
  padding: 5px;
}
.top-header {
  padding: 10px;
}

.name {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: white;
}

.description-container {
  margin-top: 30px;
  padding: 10px;
}

.desc-title {
  background-color: rgb(2, 22, 43);
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.desc-name {
  text-align: justify;
  font-weight: 600;
  margin-top: 5px;
}

.developer-sec{
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: white;
  margin: 0 auto;
}

.user-feat-container {
  background-color: #aaaaaa;
  padding: 5px;
  margin-top: 5px;
}

.feature-title {
  background-color: bisque;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(1, 1, 26);
  font-weight: bold;
  padding: 10px;
}
.feature-url {
  background-color: bisque;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(1, 1, 26);
  padding: 10px;
}
.feature-url a {
  text-decoration: none;
  color: green;
  font-weight: 500;
}


@media only screen and (min-width : 740px) {
    .developer-sec {
     max-width: 80%
    }
}